VITE_SUPABASE_URL=https://hdqmxlugdbwdcelweiof.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhkcW14bHVnZGJ3ZGNlbHdlaW9mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwMDg2MTAsImV4cCI6MjEwMTU4NDYxMH0.NpLKYz4Msxqz-WhwAePyAlyYAAwMs3RfrIuKrhQT0tM
